.bgagame-arknova {
	#player_config #help-mode-switch .label {
		background-color: $primary;
	}
	
	.ark-player-board .icons-summary, .player-board-cards, .player-board-action-cards,#association-board-resizable #association-board-container #base-projects-holder, #association-board-resizable #association-board-container #projects-holder  {
		background: $surface!important;
	}
	


}

//not in bgagame-arknova since it is used in popups
.ark-card-wrapper {
  color: black;
  text-shadow:0 0 0;
}

