.bgagame-azul{
    zoom-notice {
        background-color: $lightSurface;
    }
	
	#zoom-wrapper #zoom-controls button {
		filter: invert(50%);
	}
	
	.player-table-wrapper .player-hand {
		background:hsla(0,0%,50%,.30);
		box-shadow:0 0 5px 5px hsla(0,0%,50%,.30);
	}
	
	
	#zoom-notice {
		background-color: $lightSurface;
	}
	#zoom-notice .arrow-right {
		border-left:12px solid $lightSurface;
	}
}