.bgagame-bang {
    .player-info,
    .bang-card {
        color: black;
    }
}

.bang-character-tooltip {
    color: black;
}
.bang_popin {
    #dialog-title-container {
        color: black;
    }
}