.bgagame-bang {
    .player-info,
    .bang-card, #role-card {
        color: black;
    }
}

.bang-character-tooltip {
    color: black;
}
.bang_popin {
	color: black;
}

.tundra .dijitTooltipContainer .bang-card{
  color:black;
}
