
#popin_showTour #tour-slider-container .slide .bubble{
background-color:#2c2c2c;
}

#popin_showTour #tour-slide-footer{
background-color:#1f1f1f;
}

.barrageTour_popin{
  background-color:#383838;
}
.bgagame-barrage #page-title  {
  background-color:#383838!important;;
} 