.bgagame-castlecombo {
  // make scoring results visible
  .result {
    table {
      td {
        color: black;
      }
    }
  }

  // make text on notice readable
  #notice {
    color: black;
  }

  // make text on cards readable
  .card {
    color: black;
  }
}
