.bgagame-castlecombo {
  // make scoring results visible
  #result #score-sheet {
    table {
      td {
        color: black;
      }
    }
  }

  // make text on notice readable
  #notice {
    color: black;
  }

  // make text on cards readable
  .card {
    color: black;
  }
}

#popin_bgaHelpDialog.standard_popin > #popin_bgaHelpDialog_contents > #help-dialog-content > #help-popin > .block {
  background-color: $surface;
}