.bgagame-earth {
	.ea-counter  {
	   background-color: $lighterSurface;
	}
	
	#ea-shortcut-area, #ea-area-card-hand-config, .ea-hand-float #ea-area-card-hand-config, #ea-area-card-hand-container.ea-hand-float, .ea-hand-float #ea-area-card-hand-config-control {
		background-color: #2c2c2caa;
	}
	
	.ea-player-panel-pill{
	  filter: invert(0.9);
	  color: black;
	}
	.ea-objective-button{
	  filter: invert(0) brightness(.8) !important;
	  color: $onSurface !important;
	}
	
	#ea-scorepad {
	  filter: invert(0.9);
	  color:black;
	}
}

#popin_ea-dialog-card-detail, #popin_ea-dialog-objective-detail, #popin_ea-leaf-dialog {
  background: linear-gradient(180deg,$surface,$lighterSurface);
}