
#mcb-floatingHand{
background-color:$lightSurface;
}

.bgagame-maracaibo {
	#mcb-career-notice, .bgagame-maracaibo  #game_play_area, .mcb-tab, .mcb-scroll, #mcb-nextQuest-text {
		color: $onPrimary;
	}
	
	
	.mcb-card-pane .mcb-scroll{
	   color:$onSurface;
	}
}



.mcb-scoreSheet tr:nth-child(2n) {
  background-color: $lightSurface;
}

.mcb-scoreSheet tr:nth-child(2n+1) {
  background-color: $surface;
}


