
#mcb-floatingHand{
background-color:#2c2c2c;
}

.bgagame-maracaibo {
	#mcb-career-notice, .bgagame-maracaibo  #game_play_area, .mcb-tab, .mcb-scroll, #mcb-nextQuest-text {
		color: black;
	}
}



.mcb-scoreSheet tr:nth-child(2n) {
  background-color: #2c2c2c;
}

.mcb-scoreSheet tr:nth-child(2n+1) {
  background-color: #1f1f1f;
}


