.bgagame-numberdrop {
	#page-title{
	  background-color: $lightSurface!important;;
	}

	.sheet-wrapper .sheet-top .grid-wrapper{
	  background-color: black;
	}

	.player-board{
	  background-color: $lighterSurface!important;
	}
}