#sevenwonder_wrap {
    .player_board_wrap.whiteblock h3 {
        background: linear-gradient(90deg, rgba($darkPrimary, 1) 0%, rgba($darkPrimary, 0.5) 25%, rgba($darkPrimary, 0) 75%);
        padding: 6px 0 0 6px;
        border-radius: 5px;
    }
}