.bgagame-sevenwondersarchitects {
	.choiceitem {
		background-color: $primary;
		color: $onPrimary;
	}
	.stwbattleicon {
		color: black;
	}
	.stw_name_holder {
		color: white;
	}
	
	.stw_bgcartouche{
		z-index: 0;
	}

	#left-side-wrapper:before{
		background-image: url(https://x.boardgamearena.net/data/themereleases/current/games/sevenwondersarchitects/220111-0842/img/backimage.jpg);
		width:100%;
		height: 100%;
  		position: absolute;
		top: 0;
		left: 0;
		content:"";
		filter: invert(95%);
	}	
}
