.bgagame-sevenwonders {
    .player_board_wrap.whiteblock h3 {
        background: linear-gradient(90deg, rgba($darkPrimary, 0.99), rgba($darkPrimary, 0.25), rgba($darkPrimary, 0));
        padding: 6px 0 0 6px;
        border-radius: 5px;
    }
    .rotate_icon {
        filter: invert(100%);
    }
    #table_score_contents {
        .tableWindow th {
            color: $onSurface;
        }
    }
	.cardname {
		color: black;
	}

}