.bgagame-thebuildersantiquity {
	.cardname {
		color:black;
	}
	
	//universities are "transparent" cards with images on them
	#universities {
		background-color: #d9cab2;
		border-radius: 10px;
	}

}