.bgagame-ultimaterailroads {
	#thething{
	  color: black;
	}
	#thething:before{
		filter: brightness(20%);
	}

	.breadcrumbs{
	  background-color: $lightSurface;
	}
	.button_top {
	  filter:invert(90%);
	}
	.player-name, .player_board_inner, .player_score{	
	  background-color: $lightSurface;
	}
}