.bgagame-yatzy {
    table.table-style-one {
        th, td {
            color: $onSurface;
            border-color: $lighterSurface;
        }
    }
    #scoring_chart {
        color: #ccc;
    }
    .possible_cell {
        color: #ccc;
    }
}