.bga-game-panel {
    .bga-page-section > .bga-page-section__title {
        color: $onSurface;
        .text-bga-gamename {
            color: $lightPrimary;
        }
    }

    .bga-page-section__content > .bg-bga-gray-204 {
        background-color: $lightSurface !important;
    }

    .bga-lobby-table-item {
        background: $lightSurface !important;
        &:hover {
            background-color: $lighterSurface !important;
        }

        .bga-lobby-table-item__bg {
            background: $lighterSurface !important;
        }
    }

    .block-panel-rules,
    .block-panel-weblinks,
    .bga-panel-table-status {
        .hover\:bg-bga-gray-211:hover {
            background-color: $lighterSurface !important;
            color: $onSurface !important;
        }
        .bg-bga-gray-233 {
            background-color: $lightSurface !important;
        }
    }

    // Tables list
    .bga-game-option-form {
        .bga-game-option-item-choice__selector {
            .text-bga-gray-78 {
                color: $onPrimary !important;
            }
        }
        .bga-game-option-item-bool {
            .text-bga-gray-78 {
                color: $onPrimary !important;
            }
        }
    }

    // Rankings
    .block-panel-rankings {
        .even\:bg-bga-gray-211:nth-child(2n) {
            background-color: $lightSurface !important;
        }
    }

    // Videos
    .block-panel-videos {
        .bg-bga-gray-211 {
            background-color: $lightSurface !important;
        }
    }

    // Background
    &.bga-game-panel--status-tournaments.svelte-r3yse2 .bga-game-panel__content-divider-line.svelte-r3yse2, &.bga-game-panel--status-quick-play.svelte-r3yse2 .bga-game-panel__content-divider-line.svelte-r3yse2, &.bga-game-panel--status-arena.svelte-r3yse2 .bga-game-panel__content-divider-line.svelte-r3yse2 {
        border-top-color: $lightSurface;
    }

    &.bga-game-panel--status-tournaments.svelte-r3yse2 .bga-game-panel__content-divider-background.svelte-r3yse2, &.bga-game-panel--status-quick-play.svelte-r3yse2 .bga-game-panel__content-divider-background.svelte-r3yse2, &.bga-game-panel--status-arena.svelte-r3yse2 .bga-game-panel__content-divider-background.svelte-r3yse2 {
        background: linear-gradient($surface, $background 300px);
    }
}

.bga-invite-player-modal .bga-invite-player-modal__content {
    background-color: $lightSurface !important;

    .bga-hover-for-list:hover {
        background: $lighterSurface !important;
    }
}

.bga-player-profile-modal__content.svelte-bn746u.svelte-bn746u {
    background-color: $lighterSurface !important;
}

// Options dropdown
.bga-dropdown__list-wrap .bga-game-option-item-choice__option.text-bga-gray-78 {
    color: $onPrimary !important;
}

// Main dropdown
#ebd-body > div.bga-dropdown__list-wrap.hidden.bga-dropdown__list-wrap--tablet.svelte-n2kuh.bga-dropdown__list-wrap--sized.bga-modal > div > div.bga-dropdown__options #dropdown-container {
    & > .bg-gray-200 {
        background-color: $lightSurface;

        &:hover {
            background-color: $lighterSurface;
        }
    }
}