.bga-game-browser__panel {
    .bga-quick-play-widget__item.svelte-1s7mdl1 {
        background: $lightSurface;
        &:hover {
            background: $lighterSurface;
        }
    }
}

// No result section
#main-content > div > div.w-full.text-center.box-border[style*="background: linear-gradient(rgb(234, 234, 234), rgb(198, 198, 198));"] {
    background: $lightSurface !important;
}