// All non page specific styles

// Modal background
div.bga-popup-modal.svelte-onjxky.bga-modal > div > div.bga-popup-modal__content.svelte-onjxky {
    &, & > div {
        background-color: $lightSurface !important;
    }

    .bga-game-option-item-bool,
    .bga-game-option-item-choice {
        .text-bga-gray-78 {
            color: $onPrimary;
        }
    }
}

// Dropdowns
.bga-dropdown__list-wrap {
    .bg-bga-gray-244,
    .bga-dropdown__list.bg-bga-whitebg {
        background-color: $lightSurface !important;
    }
    .hover\:bg-bga-gray-233:hover {
        background-color: $lighterSurface !important;
    }
}

// Page sections
.pagesection h2, .pagesection h3, .portlet h2, .portlet h3, .bga-page-section>.bga-page-section__content {
    background: $surface !important;
    color: $darkOnBackground;
}

// Awards
.awards-list__tooltip.svelte-rf10np.svelte-rf10np {
    background-color: $lightSurface !important;
}