.bga-friends-icon__dropdown-arrow.bg-bga-whitebg {
    background-color: $primary;
}

.bga-friends-icon__dropdown,
.bga-player-menu {
    background-color: $background;

    .bg-bga-whitebg {
        background-color: $surface;
    }

    .bga-table-list-item {
        background: none !important;
    }

    .bga-hover-for-list:hover {
        background: $lightSurface;
    }

    .text-bga-link,
    .bga-link,
    a.bga-link {
        color: $darkPrimary;
    }

    .bga-player-menu__tab {
        color: $primary !important;
        &.bga-player-menu__tab--active {
            color: $darkPrimary !important;
        }
    }
}

.bubblebanner{
    background-color: $surface;
    
    &::after{
        border-color: $lighterSurface transparent;
    }
}

.bga-popup-modal__content.svelte-1gmp0d8.svelte-1gmp0d8{
    background-color: $surface;
}
