#player-module {
    #playertab-news,
    #playertab-activity {
        &.bg-bga-gray-244 {
            background-color: $lightSurface;
        }
        &.bg-bga-gray-211 {
            background-color: $lighterSurface;
        }
    }

    #newsfeed {
        .post[style*="background-color: rgb(237, 186, 183);"] {
            background-color: $darkPrimary !important;
            a {
                &, & .gamename {
                    color: $onSurface;
                }
            }
        }
    }
}