.bga-premium-page {
    .bga-premium-payment--card-container {
        .bg-white {
            background-color: $surface;
        }
    }
    .bga-premium-page-section--full.bg-bga-gray-100 {
        background-color: $surface;
    }
    span.text-gray-700 {
        color: $onSurface;
    }

    // Pay modal
    div[name="modal-content"] {
        &, & a.bga-link {
            color: initial;
        }
    }
}

// Premium emblem
.emblempremium_big {
    filter: hue-rotate(756deg) invert(100%);
}