@import "colors";

// Global
body {
    background: $background;
    color: $onSurface;
}

.emblempremium_big {
    filter: hue-rotate(756deg) invert(100%);
}

.pageheader {
    background: $lightSurface;
    color: $onSurface;
    a {
        color: $primary;
        &:hover {
            color : $lightPrimary;
        }
    }
}

.pagesection,
.portlet {
    background: $surface;
    color: $onSurface;

    h2, h3 {
        &, & a {
            background: $lightSurface;
            color: $onSurface;
        }
    }

    a:not(.bgabutton),
    a.playername {
        color: $primary;
        &:hover {
            color: $lightPrimary;
        }
    }
    &#follow_us_portlet a span {
        color: $primary !important;
        &:hover {
            color: $lightPrimary !important;
        }
    }
}

.bgabutton_blue {
    background: $darkPrimary;
    color: $onSurface !important;
    &:hover {
        background: $primary !important;
    }
    &.green {
        background: green !important;
    }
}

.bgabutton_red {
    background: $error;
    color: $onError !important;
    &:hover {
        background: $lightError !important;
    }
}

.bgabutton_gray {
    background: $darkPrimary;
    color: $onPrimary !important;
    &:hover {
        background: $primary !important;
        color: $onPrimary;
    }
}

textarea,
.board_fake_input,
input:not(.dijitArrowButtonInner),
input.dijitInputInner {
    background: $background !important;
    background-color: $background !important;
    border: solid 1px $onBackground;
    color: $onSurface !important;
}

.tundra .dijitCalendarContainer {
    .dijitCalendarMonthContainer {
        background: $lighterSurface;
        .dijitCalendarMonthLabel {
            color: $onSurface;
        }
    }
    table {
        .dijitCalendarDayLabelTemplate {
            background: $lightSurface;
            color: $onSurface;
        }
        .dijitCalendarCurrentMonth {
            background: $lightSurface;
            color: $onSurface;
        }
        .dijitCalendarPreviousMonth,
        .dijitCalendarNextMonth {
            background: $surface;
            color: $onSurface;
        }
    }
    .dijitCalendarYearContainer {
        background: $lighterSurface;
        .dijitCalendarNextYear, .dijitCalendarPreviousYear {
            color: $onSurface !important;
        }
    }
}
.tundra .dijitCalendarMonthMenuPopup {
    .dijitCalendarMonthLabel {
        color: $onSurface;
    }
}

.dijitSelect .dijitSelectLabel {
    color : black;
}

.post .comment {
    background : $lightSurface
}

.post.playernotification_not_read {
    background-color: $darkPrimary;
    a {
        color: $onSurface;
    }
}

.standard_popin {
    background: $lightSurface;
    color: $onSurface;
    .standard_popin_closeicon,
    .standard_popin_helpicon {
        color: $onSurface !important;
        &:hover {
            color: $lightPrimary !important;
        }
    }
}

.standard_popin_underlay {
    background-color: $background;
}

.pageheader_menu {
    .pageheader_menuitem {
        color: $onSurface;
        &:hover {
            color: $primary;
        }
        .pageheader_menuitembar {
            background-color: $primary;
        }
    }
}

.row-data .row-label {
    color: $onSurface;
}

.tableWindow th {
    color: $onSurface;
    border-bottom-color: $onSurface;
}
.tableWindow td {
    color: $onSurface;
}
.tableWindow tbody tr:hover td {
    color: $lightPrimary;
}

.extended_message_hidden::after {
    background: linear-gradient(180deg, rgba($surface, 0), rgba($surface, 1));
}

.warning_high {
    background-color: $error;
}

.head_info {
    background-color: $lighterSurface;
    color: $onSurface;
}

#current_table_banner {
    background-color: $primary;
    a {
        color: $onPrimary;
    }
}
#async_table_banner,
#expected_table_banners .expected_banner {
    background-color: $lighterSurface;
    color: $onSurface;
    a {
        color: $primary;
        &:hover {
            color : $lightPrimary;
        }
    }
}

#overall-footer {
    background: $surface;
}

// Menu
#topbar.newbgastyle {
    background: $surface;
    #friends_icon.friendsOnline #friends_baseicon,
    #friends_icon .notification_nbr_icon {
        color: $darkPrimary;
    }
    a.menu_item {
        color: $onSurface;
        &:hover {
            color: $lightPrimary;
        }
    }
}

#login-menu,
#language_switcher_dropdown,
#mobile-menu,
#friend-menu {
    background: $lightSurface;
    color: $onSurface;
    #connected_username {
        color: $primary !important;
    }
    .login-menu-item {
        color: $onSurface !important;
        &:hover {
            background: none;
            color: $lightPrimary !important;
        }
    }
    .playername {
        color: $primary;
    }
    .player_baseline {
        color: $onSurface;
    }
    a {
        color: $primary;
        &:hover {
            color: $lightPrimary;
        }
    }
}
.notouch-device #topbar #login-menu a.login-menu-item:hover,
.notouch-device #topbar #language_switcher a.login-menu-item:hover {
    color: $lightPrimary !important;
}

.roundedbox,
.roundedbox_main,
.roundedbox_topmain,
.roundedbox_topleft,
.roundedbox_topright,
.roundedbox_bottommain,
.roundedbox_bottomleft,
.roundedbox_bottomright {
    background: $lightSurface !important;
    color: $onSurface;
}

// Homepage
.live_stream_next {
    background-color: $lighterSurface !important;

    .live_stream_title_next,
    .live_stream_title,
    .live_stream_date {
        color: $primary !important;
    }
    .live_stream_button {
        background-color: $primary;
        color: $lighterSurface;
    }
}

// Game list
.gamelist_item:hover {
    background: none !important;
}

// Game page
.whiteblock {
    background-image: none;
}

.howtoplay_block_enabled {
    background: $darkPrimary;
    .howtoplay_content {
        color: $onSurface;
    }
    &:hover {
        background: $primary;
    }
    a span {
        color: white !important;
    }
}

.challenge_text {
    color: $onSurface;
    & b {
        color: $primary;
    }
}
.challenge_image {
    filter: none;
}

.icon16_nbrplayer,
.icon16_duration,
.icon16_luck {
    filter: invert(100%);
}

.icon16_strategy {
    filter: brightness(200%);
}

.game_carac_bar_strategy {
    background-color: blue;
}

.game_carac_bar_luck {
    background-color: white;
}

// Game select
.pageheader_menu_verylarge .pageheader_big_switch {
    background-color: $surface !important;

    &:hover {
        color: $onSurface;
        .switcher_zone {
            background: $lighterSurface !important;
        }
    }

    .switcher_zone {
        background: $lightSurface !important;
        border-left: none;
    }
}
.pageheader_big_switch_dropdown {
    .pageheader_menuitem {
        background-color: $lightSurface !important;
        color: $onSurface !important;

        &.pageheader_menuitemselected {
            background-color: $lighterSurface;
        }

        &:hover {
            color: $primary !important;
        }
    }
}

.wannaplayauto_button {
    box-shadow: none;
    border: none;
}

.tabbed_slider_bar_barcenter {
    background-color: $lightSurface !important;
    color: $onSurface !important;
    .icon_plus {
        background-color: $primary;
    }
    .tabbed_slider_bar_left,
    .tabbed_slider_bar_right {
        border-top-color: $lightSurface;
    }
}

.sectiontitle_dropdown_menu {
    background: $surface;
}

.game_box_wrap.tables_available {
    border-color: $darkPrimary;
}

#lobby_friend_list_state {
    h3,
    .lobby_invite_friend_name {
        color: $primary;
    }
    #lobby_add_friend_button .lobby_invite_friend_avatar {
        background-color: $primary;
    }
}

.gametable {
    background-color: $lightSurface;
}
.player_is_at_table .gametable.gametable_status_init,
.player_is_at_table .gametable.gametable_status_open,
.player_is_at_table .gametable.gametable_status_asyncinit,
.player_is_at_table .gametable.gametable_status_asyncopen {
    background-color: $lighterSurface;
}

// Playing game
.gamestart_overlay {
    background: $background;
}
.playerstart_content {
    background-color: $surface;
}
#loader_mask {
    background-color: $background;
}
.player-board {
    background-color: $lightSurface;
    color: $onSurface;
}
#topbar.ingame {
    background: $surface;
    .upperrightmenu_item i,
    .upperrightmenu_item a,
    #tableinfos {
        color: $onSurface;
    }
}

#ingame_menu_content {
    background: $surface;
    .ingame_menu_item {
        color: $onSurface;
        &:hover {
            background-color: $lightSurface;
        }
    }
    .icon64 {
        filter: invert(100%);
    }
}

.log_replayable:hover {
    background-color: $surface;
}

#seemorelogs {
    filter: grayscale(100%) brightness(150%);
}

#archivecontrol a {
    color: $onSurface;
}
#archive_goto_menu {
    a:link, a:visited {
        color: $primary;
    }
}

// Premium
.whypremium_icon {
    filter: invert(100%);
}

// Communauté
.controlpanelmenu .panelmenuicon {
    color: white !important;
}

// Agenda

.agenda-tournament-list-category, .agenda-tournament-list__title, .agenda-tournament-list__players-num {
    color: $onSurface;
}

// Achievements
.standard_popin .expanded .achievement,
.notouch-device .expanded .achievement:hover {
    background-color: $lighterSurface;
}

#player_chooseactions {
	background-color: $lightSurface;
}

// Global
@import "chat";
@import "gameinprogress";
@import "menu";
@import "mobile";
@import "tournaments";
@import "versioning";

// Specific games
@import "games/agricola";
@import "games/azul";
@import "games/bang";
@import "games/cacao";
@import "games/codexnaturalis";
@import "games/concept";
@import "games/crazy_farmers";
@import "games/cubirds";
@import "games/dice_forge";
@import "games/dinosaur_tea_party";
@import "games/draftosaurus";
@import "games/fluxx";
@import "games/for_sale";
@import "games/frenchtarot";
@import "games/gonutsfordonuts";
@import "games/haiclue";
@import "games/hanabi";
@import "games/icecoldicehockey";
@import "games/kingdom_builder";
@import "games/letter_tycoon";
@import "games/lostcities";
@import "games/love_letter";
@import "games/mascarade";
@import "games/not_alone";
@import "games/numberdrop";
@import "games/oriflamme";
@import "games/papayoo";
@import "games/polis";
@import "games/piratenkapern";
@import "games/potion_explosion";
@import "games/puerto_rico";
@import "games/railroadink";
@import "games/railwaysoftheworld";
@import "games/rallymangt";
@import "games/redsevengame";
@import "games/rollforthegalaxy";
@import "games/santorini";
@import "games/seven_wonders";
@import "games/sevenwondersduel";
@import "games/splendor";
@import "games/starfluxx";
@import "games/tapestry";
@import "games/targi";
@import "games/thebuilders";
@import "games/thebuildersantiquity";
@import "games/thecrew";
@import "games/tichu";
@import "games/ultimaterailroads";
@import "games/via_magica";
@import "games/viticulture";
@import "games/vultureculture";
@import "games/welcometo";
@import "games/welcometonewlasvegas";
@import "games/yatzy";
