#login-menu::after {
    content: "BGA Dark theme v1.0\Ahttps://github.com/bastien09/bga-dark-theme";
    white-space: pre-wrap;
    text-align: center;
    width: 100%;
    display: block;
    color: darkgray;
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
}