.bga-player-menu__bottom div.flex-1.h-1 > div:last-child::after {
    content: "BGA Dark theme v1.0.16\Ahttps://github.com/bastien09/bga-dark-theme";
    white-space: pre-wrap;
    text-align: center;
    width: 100%;
    display: block;
    color: darkgray;
    font-size: 0.6rem;
    position: absolute;
    bottom: 1rem;
;
}