#footer_footer::after {
    content: "BGA Dark theme v1.0.26\Ahttps://github.com/audabas/bga-dark-theme";
    white-space: pre-wrap;
    text-align: center;
    width: 100%;
    display: block;
    color: darkgray;
    font-size: 0.6rem;
    position: absolute;
    bottom: 1rem;
}